@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #fff;
    font-family: 'Press Start 2P';
    position: absolute;
    top : 2%;
}

.tampalavra {
    color: #fff;
    position: absolute;
    top : 10%
}

.palavra_mostrada {
    text-align: center;
    color: white;
    font-size: 92%;
    font-weight: 600;
    font-family: 'Press Start 2P';
    position: absolute;
    width: 100%;
    top: 50%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, black, purple);
    min-height: 100vh;
    min-width: 100vh;
}

.container {
    width: 90%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    flex-basis: calc(2.7% - 0px);
    color: white;
    font-weight: 700;
    border: 2px solid black;
    box-shadow: -2px -3px 0 rgb(68, 5, 18);
    background-color: crimson;
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.container_img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 20%;
    top: 11%;
}

.reload {
    flex-basis: calc(4% - 0px);
    position: absolute;
    color: #fff;
    bottom: 10%;
    font-weight: 700;
    border: 2px solid black;
    box-shadow: -2px -3px 0 rgb(68, 5, 18);
    background-color: crimson;
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.btn:hover {
    background-color: wheat;
    color: crimson;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0px 1px 0 rgb(255, 255, 255);
}

.reload:hover{
    background-color: wheat;
    color: crimson;
    cursor: pointer;
}

.reload:active {
    box-shadow: 0px 1px 0 rgb(255, 255, 255);
}

.tipo {
    color:rgb(255, 255, 255);
    border-radius: 9px;
    font-weight: 800;
    font-size: large;
    border: 4px groove rgb(255, 255, 255);
    position: absolute;
    padding: 2%;
    top: 4%;
    left: 10%;
}

.tipo:hover,
.LetrasEscolhidas:hover,
.erro:hover {
    color:rgb(122, 0, 179);
    background-color: azure;
}

.erro {
    color:rgb(255, 255, 255);
    border-radius: 9px;
    font-weight: 800;
    font-size: large;
    border: 4px groove rgb(255, 255, 255);
    position: absolute;
    padding: 2%;
    top: 4%;
    left: 80%;
}

.Mensagem {
    color: #fff;
    position: absolute;
    bottom: 17%;
    font-weight: 700;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.canva {
    color:rgb(255, 255, 255);
    background: linear-gradient(to bottom, black, purple);
    border: 4px groove rgb(255, 255, 255);
    border-radius: 7px;
    position: absolute;
    padding: 0.5%;
    top: 65%;
    left: 80%;
}

.LetrasEscolhidas {
    color: #fff;
    position: absolute;
    bottom: 60%;
    font-weight: 900;
    font-size: 150%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.msg_word {
    color: #fff;
    position: absolute;
    bottom: 65%;
    font-weight: 700;
    padding: 0.5%;
    margin: 0.5%;
}

.painel {
    width: 70%;
    height: 80%;
    font-size:50px;
    font-weight: 600;
    font-style: oblique;
    position: absolute;
    top : 15%
}
