@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, black, purple);
    background-size: 100vh 100vh;
}

h1 {
    color: #fff;
    font-size: 150%;
    font-family: 'Press Start 2P';
    position: absolute;
    top : 2%;
}

.tampalavra {
    color: #fff;
    position: absolute;
    top : 10%;
    font-size: 150%;
}

.palavra_mostrada {
    text-align: center;
    color: white;
    font-size: 92%;
    font-weight: 600;
    font-family: 'Press Start 2P';
    position: absolute;
    max-width: 100%;
    top: 67%;
}

.container {
    width: 70%;
    top: 50%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    flex-basis: calc(2.7% - 0px);
    color: white;
    font-weight: 700;
    border: 2px solid black;
    box-shadow: -2px -3px 0 rgb(68, 5, 18);
    background-color: crimson;
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.container_img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    width: 40%;
    height: 25%;
    top: 11%;
}

.reload {
    flex-basis: calc(20%);
    position: absolute;
    color: #fff;
    bottom: 10%;
    font-weight: 700;
    border: 2px solid black;
    box-shadow: -2px -3px 0 rgb(68, 5, 18);
    background-color: crimson;
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.btn:hover {
    background-color: wheat;
    color: crimson;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0px 1px 0 rgb(255, 255, 255);
}

.reload:hover{
    background-color: wheat;
    color: crimson;
    cursor: pointer;
}

.reload:active {
    box-shadow: 0px 1px 0 rgb(255, 255, 255);
}

.tipo {
    color:rgb(255, 255, 255);
    border-radius: 9px;
    font-weight: 800;
    font-size: large;
    border: 4px groove rgb(255, 255, 255);
    position: absolute;
    padding: 2%;
    top: 4%;
    left: 10%;
}

.tipo:hover,
.LetrasEscolhidas:hover,
.erro:hover {
    color:rgb(122, 0, 179);
    background-color: azure;
}

.erro {
    color:rgb(255, 255, 255);
    border-radius: 9px;
    font-weight: 800;
    font-size: large;
    border: 4px groove rgb(255, 255, 255);
    position: absolute;
    padding: 2%;
    top: 4%;
    right: 10%;
}

.Mensagem {
    color: #fff;
    position: absolute;
    bottom: 17%;
    font-weight: 700;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.canva {
    color:rgb(255, 255, 255);
    background: linear-gradient(to bottom, black, purple);
    border: 4px groove rgb(255, 255, 255);
    border-radius: 7px;
    position: absolute;
    padding: 0.5%;
    top: 65%;
    left: 70%;
}

.LetrasEscolhidas {
    color: #fff;
    position: absolute;
    bottom: 55%;
    font-weight: 900;
    font-size: 150%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

@media (max-width: 1100px){
    .container_img {
        width: 94%;
        height: 20%;
        top: 11%;
    }

    h1 {
        font-size: 120%;
    }

    .palavra_mostrada {
        font-size: 70%;
        top: 70%;
    }

    .tampalavra {
        font-size: 90%;
    }

    .container {
        width: 95%;
    }

    .btn {
        margin-right: 4%;
    }

    .reload{
        width: 40%;
        height: 5%;
    }
}

.msg_word {
    color: #fff;
    position: absolute;
    bottom: 65%;
    font-weight: 700;
    padding: 0.5%;
    margin: 0.5%;
}

.painel {
    width: 40%;
    height: 80%;
    position: absolute;
    max-width: 100%;
    top : 30%
}

#cv {
    height: 100%;
    width: 100%;
}