@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo_preto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.7);
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("https://www.dropbox.com/scl/fi/tuyj64idf7ba7wmu38ay2/stars.gif?rlkey=lshramomw7ytmam0o875cbmm1&raw=1");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

video {
    z-index: -1;
}

h1 {
    color: #fff;
    font-size: 150%;
    font-family: 'Press Start 2P';
    position: absolute;
    top : 2%;
}

.tampalavra {
    color: #fff;
    position: absolute;
    top : 15%;
    font-size: 150%;
}

.palavra_mostrada {
    text-align: center;
    color: white;
    font-size: 92%;
    font-weight: 600;
    font-family: 'Press Start 2P';
    position: absolute;
    max-width: 100%;
    top: 67%;
}

.container {
    width: 70%;
    top: 50%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    flex-basis: calc(2.7% - 0px);
    color: white;
    font-weight: bold;
    border: none;
    background-color: rgb(0, 128, 255);
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.container_img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    width: 40%;
    height: 25%;
    top: 11%;
}

.reload {
    width: 20%;
    position: absolute;
    bottom: 10%;
    color: white;
    font-weight: bold;
    border: none;
    background-color: rgb(0, 128, 255);
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.btn:hover {
    animation: animationBut 2s forwards;
    cursor: pointer;
}

@keyframes animationBut {
    0%{
        background-color: rgb(77, 199, 251);
        box-shadow: 0px 6px 20px rgb(77, 199, 251);
    }
    100%{
        background-color: rgb(157, 225, 255);
        box-shadow: 0px 6px 20px rgb(157, 225, 255);
        color: rgb(23, 60, 243);
    }
}

.btn:active {
    box-shadow: 0px 1px 0 rgb(255, 255, 255);
}

.reload:hover{
    animation: animationBut 2s forwards;
    cursor: pointer;
}

.reload:active {
    box-shadow: 0px 1px 0 rgb(255, 255, 255);
}

.tipo {
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 9px;
    font-weight: 800;
    font-size: large;
    position: absolute;
    padding: 2%;
    top: 4%;
    left: 10%;
    backdrop-filter: blur(9px);/*Define desfoque*/
}

.tipo:hover,
.LetrasEscolhidas:hover,
.erro:hover {
    animation: animationBut 2s forwards;
}

.erro {
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 9px;
    font-weight: 800;
    font-size: large;
    position: absolute;
    padding: 2%;
    top: 4%;
    right: 10%;
    backdrop-filter: blur(9px);/*Define desfoque*/
}

.Mensagem {
    color: #fff;
    position: absolute;
    bottom: 17%;
    font-weight: 700;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

.canva {
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    position: absolute;
    padding: 0.5%;
    top: 65%;
    left: 70%;
    backdrop-filter: blur(9px);/*Define desfoque*/
}

.LetrasEscolhidas {
    color: #fff;
    position: absolute;
    bottom: 55%;
    font-weight: 900;
    font-size: 150%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    padding: 0.5%;
    margin: 0.5%;
}

@media (max-width: 738px){
    .container_img {
        width: 94%;
        height: 20%;
        top: 11%;
    }

    h1 {
        font-size: 120%;
    }

    .palavra_mostrada {
        font-size: 70%;
        top: 70%;
    }

    .tampalavra {
        font-size: 90%;
    }

    .container {
        width: 100%;
    }

    .btn {
        padding: 2%;
    }

    .reload{
        width: 40%;
        height: 5%;
    }

    .canva {
        top: 70%;
        left: 70%;
        width: 30%;
        height: 20%;
    }
}

@media (max-width: 414px){
    .reload{
        font-size: 60%;
    }
}

@media (max-width: 500px){
    .canva {
        width: 30%;
        height: 15%;
    }
}

@media (max-height: 524px){

    .reload{
        width: 40%;
        height: 5%;
    }

    .canva {
        width: 15%;
        height: 20%;
        left: 80%;
        top: 75%;
    }

    .LetrasEscolhidas {
        font-size: 70%;
    }

    .msg_word {
        font-size: 80%;
        top: 42.7%;
    }

    .container_img {
        width: 80%;
    }
}

.msg_word {
    color: #fff;
    font-size: 100%;
    position: absolute;
    bottom: 50%;
    font-weight: 700;
    padding: 0.5%;
    margin: 0.5%;
}

.painel {
    width: 40%;
    height: 80%;
    position: absolute;
    max-width: 100%;
    top : 30%
}

#cv {
    height: 100%;
    width: 100%;
}